body{
   background-color: #48d1cc;
}
hr{
   border-style: dotted none none;
   width: 4%;
   border-color: grey;
   border-width: 2px;
}
img{
  height: 250px;
}
h1{
  color: purple;
}
h3{
  color: green;
}
